# Godot 4+ specific ignores
/time_warped/.godot/
/time_warped/android/

# ignore mpf logs
/ozzy/logs/
/ozzy/data/
/ozzfest/logs/
/ozzfest/data/
/ozzfest/session_context.md
/ozzfest/implementation.md
/ozzfes/game_rules.md
/ozzfest/modes/carousel_band/implement_carousel.md
/time_warped/logs/
/time_warped/data/
