# Godot 4+ specific ignores
/time_warped/.godot/
/time_warped/android/

# ignore mpf logs
/ozzy/logs/
/ozzy/data/
/ozzfest/logs/
/ozzfest/data/
/ozzfest/session_context.md
/ozzfest/implement*
/ozzfest/game_rules.md
/time_warped/logs/
/time_warped/data/
