#config_version=6

#modes/base/config/base.yaml


mode:
  start_events: ball_started
  priority: 100

slide_player:
  mode_base_started: base

# Score 5 points for all playfield switches
variable_player:
  sw_playfield_active:
    score: 5
