#config_version=6

################################################################################
# hardware
################################################################################

hardware:
  platform: lisy

lisy:
  connection: serial
  port: /dev/ttyACM0
  baud: 115200
  #debug: true #will make game run slowly

# platform/hardware type (lisy/APC-specific. necessary for coils to work properly)
digital_outputs:
  game_over_relay:
    number: 25
    type: driver
    enable_events: ball_started
    disable_events: ball_will_end

# if running without physical hardware (ie mpf -X or mpf both -X)
virtual_platform_start_active_switches:
  - s_ball_trough_left
  - s_ball_trough_right

## hardware sounds
# use APC sdcard for sounds
hardware_sound_systems:
  default:
    label: APC

################################################################################
# game modes
################################################################################

# modes: anything that has a folder in modes/ should be listed here
modes:
  - attract
  - base
  - ball_save

################################################################################
# playfield details
################################################################################

playfields:
  playfield:
    default_source_device: bd_plunger_lane
    tags: default


# ball devices
# (anything that holds & releases a ball, including the playfield which "holds
# a ball". trough, the plunger lane, VUKs, poppers, playfield locks, etc.)

ball_devices:

  # outhole/drain
  bd_outhole:
    ball_switches: s_outhole
    eject_coil: c_outhole_kicker
    eject_targets: bd_trough
    tags: drain

  # trough config for 2 ball machine
  bd_trough:
    ball_switches:
      - s_ball_trough_left
      - s_ball_trough_right
    eject_coil: c_trough_release
    eject_targets: bd_plunger_lane
    #eject_timeouts: 3s
    tags: home, trough

  # plunger config for manual plunge
  bd_plunger_lane:
    ball_switches: s_plunger
    #eject_timeouts: 3s
    mechanical_eject: true

  bd_kickout_hole_upper:
    ball_switches: s_kickout_hole_upper
    eject_coil: c_kickout_hole_upper
    #eject_timeouts: 3s
  bd_kickout_hole_lower:
    ball_switches: s_kickout_hole_lower
    eject_coil: c_kickout_hole_lower
    #eject_timeouts: 3s


################################################################################
# displays
################################################################################

segment_displays:
  info_display:
    number: 0
    platform: lisy
    size: 4
    #update_method: stack
    #integrated_commas: true
  player1_display:
    number: 1
    platform: lisy
    size: 7
    #update_method: stack
    #integrated_commas: true
  player2_display:
    number: 2
    platform: lisy
    size: 7
    #update_method: stack
    #integrated_commas: true
  player3_display:
    number: 3
    platform: lisy
    size: 7
    #update_method: stack
    #integrated_commas: true
  player4_display:
    number: 4
    platform: lisy
    size: 7
    #update_method: stack
    #integrated_commas: true


segment_display_player:

  # empty all displays on game start and setup info display
  game_start:
    info_display:
      text: "{current_player.ball:d}"
    player1_display:
      text: ""
    player2_display:
      text: ""
    player3_display:
      text: ""
    player4_display:
      text: ""

  # show score when adding players
  player_added.1{num==1}:
    player1_display:
      text: "{players[0].score:d}"
  player_added.2{num==2}:
    player2_display:
      text: "{players[1].score:d}"
  player_added.3{num==3}:
    player3_display:
      text: "{players[2].score:d}"
  player_added.4{num==4}:
    player4_display:
      text: "{players[3].score:d}"

  # clear only info display after game
  game_ended:
    info_display:
      text: ""
  game_ended{machine.player1_score > 0}:
    player1_display:
      text: "{machine.player1_score:d}"
  game_ended{machine.player2_score > 0}:
    player2_display:
      text: "{machine.player2_score:d}"
  game_ended{machine.player3_score > 0}:
    player3_display:
      text: "{machine.player3_score:d}"
  game_ended{machine.player4_score > 0}:
    player4_display:
      text: "{machine.player4_score:d}"

  #flash display on player turn
  player_turn_started.1{number==1}:
    player1_display:
      action: flash
  player_turn_ended.2{number==1}:
    player1_display:
      action: no_flash
  player_turn_started.3{number==2}:
    player2_display:
      action: flash
  player_turn_ended.4{number==2}:
    player2_display:
      action: no_flash
  player_turn_started.5{number==3}:
    player3_display:
      action: flash
  player_turn_ended.6{number==3}:
    player3_display:
      action: no_flash
  player_turn_started.7{number==4}:
    player4_display:
      action: flash
  player_turn_ended.8{number==4}:
    player4_display:
      action: no_flash


################################################################################
## switches
################################################################################

switches:

  s_plumb_bob_tilt:
    number: 1
    ignore_window_ms: 200
    tags: tilt_warning
  s_ball_roll_tilt:
    number: 2
    tags: tilt
  s_start_button:
    number: 3
    tags: start
  s_coin_chute_right:
    number: 4
  s_coin_chute_center:
    number: 5
  s_coin_chute_left:
    number: 6
  s_slam_tilt:
    number: 7
  s_high_score_reset:
    number: 8
  s_ball_trough_right:
    number: 9
  s_ball_trough_left:
    number: 10
  #s_unused_11:
  #  number: 11
  s_slingshot_left:
    number: 12
  s_rollover_l:
    number: 13
    tags: playfield_active
  s_rollover_o:
    number: 14
    tags: playfield_active
  s_rollover_r:
    number: 15
    tags: playfield_active
  s_rollover_d:
    number: 16
    tags: playfield_active
  s_target_1:
    number: 17
    tags: playfield_active
  s_target_2:
    number: 18
    tags: playfield_active
  s_target_3:
    number: 19
    tags: playfield_active
  s_inlane_rollover_4:
    number: 20
    tags: playfield_active
  s_inlane_rollover_5:
    number: 21
    tags: playfield_active
  s_outlane_left:
    number: 22
    tags: playfield_active
  s_outlane_right:
    number: 23
    tags: playfield_active
  s_turnaround_rollover_lower:
    number: 24
    tags: playfield_active
  s_threebank_right_lower:
    number: 25
  s_threebank_right_mid:
    number: 26
  s_threebank_right_upper:
    number: 27
  s_slingshot_right:
    number: 28
  s_threebank_left_lower:
    number: 29
  s_threebank_left_mid:
    number: 30
  s_threebank_left_upper:
    number: 31
  s_turnaround_rollover_upper:
    number: 32
    tags: playfield_active
  s_fivebank_left:
    number: 33
  s_fivebank_left_mid:
    number: 34
  s_fivebank_center:
    number: 35
  s_fivebank_right_mid:
    number: 36
  s_fivebank_right:
    number: 37
  s_kickout_hole_upper:
    number: 38
  s_kickout_hole_lower:
    number: 39
  s_slingshot_upper:
    number: 40
  s_playfield_tilt:
    number: 41
  s_outhole:
    number: 42
  s_plunger:
    number: 43
  s_playfield_entry_gate:
    number: 44
    tags: playfield_active
  s_upper_left_standup:
    number: 45
    tags: playfield_active
  s_left_standup:
    number: 46
    tags: playfield_active
  s_right_standup:
    number: 47
    tags: playfield_active
  #s_unused_48:
  #  number: 48
  s_magnasave_button_right:
    number: 49
    tags: playfield_active
  s_magnasave_button_left:
    number: 50
    tags: playfield_active

  # unused matrix positions (tech chart rows 1-8, columns 7-8)
  #s_unused_51:
  #  number: 51
  #s_unused_52:
  #  number: 52
  #s_unused_53:
  #  number: 53
  #s_unused_54:
  #  number: 54
  #s_unused_55:
  #  number: 55
  #s_unused_56:
  #  number: 56
  #s_unused_57:
  #  number: 57
  #s_unused_58:
  #  number: 58
  #s_unused_59:
  #  number: 59
  #s_unused_60:
  #  number: 60
  #s_unused_61:
  #  number: 61
  #s_unused_62:
  #  number: 62
  #s_unused_63:
  #  number: 63
  #s_unused_64:
  #  number: 64

  s_65_slingshot_left_spec:
    number: 65
  s_66_slingshot_right_spec:
    number: 66
  s_67_slingshot_upper_spec:
    number: 67
  s_68:
    number: 68
  s_69:
    number: 69
  s_70:
    number: 70


################################################################################
## coils
################################################################################

coils:
  c_outhole_kicker:
    number: 1
    default_pulse_ms: 30
  c_trough_release:
    number: 2
    default_pulse_ms: 30
  c_gi_relay:
    number: 3
  c_threebank_left_reset:
    number: 4
    default_pulse_ms: 45
  c_threebank_right_reset:
    number: 5
    default_pulse_ms: 45
  c_buzzer:
    number: 6
    default_pulse_ms: 30
  c_kickout_hole_lower:
    number: 7
    default_pulse_ms: 45
  c_kickout_hole_upper:
    number: 8
    default_pulse_ms: 45
  c_fivebank_reset_left:
    number: 9
    default_pulse_ms: 50
  c_fivebank_reset_midleft:
    number: 10
    default_pulse_ms: 50
  c_fivebank_reset_center:
    number: 11
    default_pulse_ms: 50
  c_fivebank_reset_midright:
    number: 12
    default_pulse_ms: 50
  c_fivebank_reset_right:
    number: 13
    default_pulse_ms: 50
  c_fivebank_release:
    number: 14
  c_bell:
    number: 15
  c_coin_lockout:
    number: 16

  c_slingshot_left:
    number: 17
    default_pulse_ms: 30
  c_slingshot_right:
    number: 18
    default_pulse_ms: 30
  c_slingshot_upper:
    number: 19
    default_pulse_ms: 30
  c_miniball_kicker:
    number: 20
  c_magnasave_left:
    number: 21
  c_magnasave_right:
    number: 22

  c_flipper_left:
    number: 23
  c_flipper_right:
    number: 24


## autofire coils (things that fire immediately when switch is hit)
autofire_coils:
  slingshot_left:
    coil: c_slingshot_left
    switch: s_65_slingshot_left_spec
  slingshot_right:
    coil: c_slingshot_right
    switch: s_66_slingshot_right_spec
  slingshot_upper:
    coil: c_slingshot_upper
    switch: s_67_slingshot_upper_spec

################################################################################
## lights
################################################################################

lights:
  # Williams Jungle Lord lamp matrix (columns 1-8, rows 1-8) per Williams Jungle Lord Tech Chart
  l_shoot_again_backbox:
    number: 1
  l_ball_in_play:
    number: 2
  l_tilt:
    number: 3
  l_game_over:
    number: 4
  l_match:
    number: 5
  l_high_score:
    number: 6
  l_multiball_timer:
    number: 7
  l_magnasave_right_1:
    number: 8
  l_magnasave_right_2:
    number: 9
  l_magnasave_right_3:
    number: 10
  l_magnasave_right_4:
    number: 11
  l_magnasave_right_5:
    number: 12
  l_letter_l:
    number: 13
  l_letter_o:
    number: 14
  l_letter_r:
    number: 15
  l_letter_d:
    number: 16
  l_target_1:
    number: 17
  l_target_2:
    number: 18
  l_target_3:
    number: 19
  l_rollover_4:
    number: 20
  l_rollover_5:
    number: 21
  l_drain_shield_left:
    number: 22
  l_drain_shield_right:
    number: 23
  l_minifield_illumination_24:
    number: 24
  l_right_threebank:
    number: 25
  l_scoring_2x:
    number: 26
  l_keep_shooting_playfield:
    number: 27
  l_minifield_special:
    number: 28
  l_left_threebank:
    number: 29
  l_loop_spots_letter:
    number: 30
  l_loop_spots_x_value:
    number: 31
  l_minifield_illumination_32:
    number: 32
  l_fivebank_arrow_left:
    number: 33
  l_fivebank_arrow_midleft:
    number: 34
  l_fivebank_arrow_mid:
    number: 35
  l_fivebank_arrow_midright:
    number: 36
  l_fivebank_arrow_5_right:
    number: 37
  l_minifield_illumination_38:
    number: 38
  l_magnasave_left_1:
    number: 39
  l_magnasave_left_2:
    number: 40
  l_magnasave_left_3:
    number: 41
  l_magnasave_left_4:
    number: 42
  l_magnasave_left_5:
    number: 43
  l_extra_kick_when_lit:
    number: 44
  l_lock_lamps_pair:
    number: 45
  l_double_trouble:
    number: 46
  l_minifield_illumination_47:
    number: 47
  l_minifield_illumination_48:
    number: 48
  l_bonus_1:
    number: 49
  l_bonus_2:
    number: 50
  l_bonus_3:
    number: 51
  l_bonus_4:
    number: 52
  l_bonus_5:
    number: 53
  l_bonus_6:
    number: 54
  l_bonus_7:
    number: 55
  l_bonus_8:
    number: 56
  l_bonus_9:
    number: 57
  l_bonus_10:
    number: 58
  l_bonus_20:
    number: 59
  l_bonus_30:
    number: 60
  l_bonus_multiplier_2x:
    number: 61
  l_bonus_multiplier_3x:
    number: 62
  l_bonus_multiplier_5x:
    number: 63
  l_bonus_multiplier_10x:
    number: 64



